apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
namespace: hello-gitops
images:
- name: hello-gitops
  newName: drnewman/hello-gitops
  newTag: f892969c6f09e39cbed5c95910c7ef2e64be134a
